 {% extends 'base.html'%}
 {% load static %}
 {% block childpage %}
 <div class="text-center fs-3 bg-light">About
     <b class="txt-mycolor">Us <i class="fa-solid fa-circle-info "></i></b><br/>
 <p style="font-size:20px;">There are multiple reasons to choose us for multiple purpose related to news.<br/>
     Believe me you will find us bestsuitable.</p>
 </div>
 <div class="row mt-5">
     <div class="col-sm-5 text-center">
         <img src="{% static 'images/news.jpg'%}"/>
     </div>
     <div class="col-sm-7">
        <p style="font-size:18px; "> Bhasker Times is the digital wing of Bhasker Prakashan Limited(JPL),wich is India's
        Leading media and communications group with its interest spanning across print,OOH,
            Activations,Radio and digital, jpl is a listed firm and publishes words largest read
            daily Dainik jagran along with india's largest Radio Network-Radio City.

        </p>
     </div>
 </div>
<div class="row">
    <div class="col-sm-12 mt-1">
        <p style="font-size:18px;">Bhasker Times creates andpublishes online news and information content -wich informs
            education and help the huser to take the batter life decisions.The company Profile includees
            9 digital platform  white provide contect acrosnews,s gengres like news education, lifestyle, entertainment
            health and youth.Currently, Bhasker Times has a reach of over 45 million users (comscore MMX Multi-
            plateform; March 2019) and 30 Mn video views (youTybe)and is leading in the domain of Hindi News,
            Educations, Health & Women's segment.Swara Bhasker shared images and videos from her baby shower on
            her Instagram handle. The first clip shows Swara and Fahad Ahmad entering the house as their friends
            are ready for the surprise baby shower. Caught unaware by her friends and family, Swara was heard saying,
            “I’m in my pyjamas." In the pictures that followed, Swara and Fahad can be seen posing with balloons that
            read “Mommy to be" and “Papa to be," respectively. While Fahad was dressed in a blue kurta with a vest and
            white pyjamas, the actress was seen wearing a brown printed co-ord set. Swara and Fahad cut the cake as
            everyone celebrated the joyous occasion.


        </p>
    </div>
</div>

 {% endblock %}