 {% extends 'base.html'%}
{% load static %}
{% block childpage %}
<style xmlns="http://www.w3.org/1999/html">
    .form-control
    {
    height:50px;
    margin-bottom:.8%;
    }
</style>
<div class="col-sm-12 text-center">
    <div>
     <h3><b class="text-warning"> Contact </b> <u> With </u> Us</h3>
        <p> You may contact us by contact number or fill this from any time you need professional support <br/> or have any question.</p>
    </div>
    </div>
<div class="row">
    <div class="col-sm-10 mx-auto ">
    <div class="row ">
        <div class="col-sm-6 shadow-md p-4 mb-5 bg-body-tertiary rounded ">
            <form method="post">
                {% csrf_token%}
                Name<input type="text"name="name" placeholder="Name...." class="form-control" required/>
                Email<input type="email"name="email" placeholder="email...." class="form-control" required/>
                mobile<input type="number"name="mobile" placeholder="Mobile...." class="form-control" required/>
                Message<textarea class="form-control"name="msg" placeholder="message"></textarea><br/>
                <input type="submit" value="save" class="btn bg-mycolor text-light"/>
            </form>
       </div>
        <div class="col-sm-6">
            <div class="shadow-md p-4 mb-5 bg-body-tertiary rounded "><h3><u>Con</u>tact Info</h3>
                <div><h4 class="text-warning text-center"><i class="fa-solid fa-location-dot"></i> <u>Office</u> Address</h4>
                    <p class="text-center">Plot No-44,Behind<br/> HP Petrol Pamp,<br/>Tedhi Pulia Ring Rd,<br/> Sector 5, Vikas Nagar,<br/> locknow Utter Pradesh <br/>226022</p>
                </div>
                <div><h4 class="text-warning text-center"><i class="fa-solid fa-square-phone-flip"></i> <u>Call</u> Us</h4>
                    <p class="text-center">+91 9555036037<br/> +91 9170642697</p>
                </div>
                <div><h4 class="text-warning text-center"><i class="fa-solid fa-envelope"></i><u>Mail</u> Us</h4>
                    <p class="text-center"> py889731@gmail.com <br/> techpilelko@gmail.com</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-12 bg-light text-center">
        <div> <h3>Find us on <a class="text-warning"><u> Goog</u>le Map</a></h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.1588441496056!2d80.96423161504458!3d26.898453483133807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39995785d5f7f1a5%3A0xffa47f1efe103f0d!2sTechpile+Technology+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1539247368696"
                    frameborder="0" height="300px" width="100%" style="border:0" allowfullscreen=""></iframe></div>
            <p>View us on Google map easily</p>
    </div>
</div>
{% endblock %}